<% content_for :aui_layout do %>
  <body class="ui-layout aui-theme-default aui-page-focused aui-page-focused-medium">  
<% end %>

<h2>Sign up</h2>

<%= render :partial => 'layouts/notifications'%>


<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'aui'}) do |f| %>
  <fieldset>
    <%= devise_error_messages! %>
  </fieldset>
  <fieldset>
    <div class="field-group">
      <%= f.label :email %>
      <%= f.email_field :email, :autofocus => true, :class => 'text' %>
    </div>
    <div class="field-group">
      <%= f.label :password %>
      <%= f.password_field :password, :class => 'password' %>
    </div>
    <div class="field-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, :class => 'password' %>
    </div>
  </fieldset>
  <div class="buttons-container">
    <div class="buttons">
      <%= f.submit "Sign up", :class => 'aui-button aui-button-primary' %>
      <%= link_to "Cancel", :back, :class => 'aui-button aui-button-link' %>
    </div>
  </div>
<% end %>