<%= render :partial => 'layouts/notifications'%>

<%= form_for(@survey, :html => {:class => 'aui'}) do |f| %>
  <fieldset>
    <% if @survey.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

        <ul>
        <% @survey.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field-group">
      <%= f.label :name %>
      <%= f.text_field :name, :class => 'text' %>
    </div>
    <div class="field-group">
      <%= f.label :question %>
      <%= f.text_field :question, :class => 'text' %>
    </div>
    <div class="group">
      <legend><span>Survey scale</span></legend>
      <div class="radio">
        <%= f.radio_button :scale, 5, :class => 'radio' %>
        <%= f.label :scale_5, "5 values" %>
      </div>
      <div class="radio">
        <%= f.radio_button :scale, 2, :class => 'radio' %>
        <%= f.label :scale_2, "2 values" %>
      </div>
    </div>
    <div class="group">
      <legend><span>Survey visual</span></legend>
      <div class="radio">
        <%= f.radio_button :visual, 'face', :class => 'radio' %>
        <%= f.label :visual_face, "Faces" %>
      </div>
      <div class="radio">
        <%= f.radio_button :visual, 'hand', :class => 'radio' %>
        <%= f.label :visual_hand, "Hands" %>
      </div>
    </div>
  </fieldset>
  <div class="buttons-container">
    <div class="buttons">
      <%= f.submit "Save", :class => 'button submit' %>
      <%= link_to 'Cancel', @cancel_link, :class => 'cancel' %>
    </div>
  </div>
<% end %>
