<% content_for :aui_layout do %>
  <body class="ui-layout aui-theme-default aui-page-focused aui-page-focused-medium">  
<% end %>

<h2>Confirm bulk editing</h2>

<%= render :partial => 'layouts/notifications'%>

<%= form_tag(bulk_perform_locations_path, :class => 'aui') do |f| %>
  <%= hidden_field_tag :geography, @geography %>
  <%= hidden_field_tag :survey_id, @survey.id %>
  <p>
    Are you sure that you want to change all surveys from <strong><%=@geo_text%></strong>
    to use the survey <strong><%=@survey.name%></strong>?
  </p>
  <div class="buttons-container">
    <div class="buttons">
      <%= submit_tag "Bulk edit", :class => 'aui-button aui-button-primary' %>
      <%= link_to "Cancel", locations_path, :class => 'aui-button aui-button-link' %>
    </div>
  </div>
<% end %>