<!DOCTYPE html>
<html>
<head>
  <title>MoodApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--  Mobile Viewport Fix
  j.mp/mobileviewport & davidbcalhoun.com/2010/viewport-metatag
  device-width : Occupy full width of the screen in its current orientation
  initial-scale = 1.0 retains dimensions instead of zooming out if page height > device height
  maximum-scale = 1.0 retains dimensions instead of zooming in if page width < device width
  -->
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
  <!-- full-screen on mobile safari - only after added to home screen -->
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <!-- translucent status bar - only after added to home screen -->
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
</head>
<body class="ui-layout aui-theme-default aui-page-focused aui-page-focused-medium">  
  <div id="page">
    
    <header id="header" role="banner">
      <nav class="aui-header aui-dropdown2-trigger-group" role="navigation">
        <div class="aui-header-primary">
          <h1 id="logo" class="aui-header-logo  logo-moodapp"><a href="/"><span class="aui-header-logo-device">Atlassian Moodapp</span></a></h1>
          <% if cookies[:ipad_admin] %>
          <ul class="aui-nav">
            <li><%= link_to('Logout', '/ipad/logout', :method => :delete) %></li>
          </ul>
          <% end %>
        </div>
      </nav>
    </header> <!-- #header -->
    
    <section id="content" role="main">
      <div class="aui-page-panel">
        <div class="aui-page-panel-inner">
          <section class="aui-page-panel-content">
            
            <%= yield %>
    
          </section> <!-- .aui-page-panel-content -->
        </div> <!-- .aui-page-panel-inner -->
      </div> <!-- .aui-page-panel -->
    </section> <!-- #content -->
        
  </div> <!-- #page -->
</body>
</html>
